/* body {
    padding-top: 50px;
}*/

.base-template {
    padding: 40px 15px;
      text-align: center;
}

header[role="banner"] {
    #logo-main {
    display: block;
    margin: 20px auto;
    }
}

#navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav { 
        width: 100%;
        text-align: center;
        > li {
            display: inline-block;
            float: none;
            > a {
               padding-left: 30px;
               padding-right: 30px;
            }
       }
   }
}

/* Set Dropdown Display to None*/
nav ul ul {
        display: none;
}

/* Display Dropdown on hover*/

nav ul li:hover > ul {
            display: block;
}

ul li{
     display: inline-block;
}

ul li a {
      padding: 20px;
}

ul li a:hover{
      text-decoration: none;
}

nav ul ul {
        background: #222222; 
          border-radius: 0px; 
            position: absolute; 
}

nav ul ul li{
      padding: 15px 0;
}

nav ul ul li a{
      color: #fff;
        opacity: .5;
}

nav ul ul li a:hover{
      color: #fff;
        opacity: 1;
}

.bottom-rule {
        border-bottom: 1px solid lightgray;
}
